@import url('https://fonts.googleapis.com/css?family=Catamaran:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:500');
@import './menu.css';
@import './home.css';
@import './mini-posts.css';
@import './about.css';
@import './footer.css';
@import './post.css';

h5{
  color: #989898;
  font-family: 'Catamaran', sans-serif;
  font-size: 0.87rem;
  letter-spacing:0.5px;
  text-transform: uppercase;
  height: 1.43rem;
  margin-bottom:0rem;
}

h1{
  font-size:2.81rem;
  font-family: 'Catamaran', sans-serif;
  height:7.06rem;
  line-height:1.38;
  color: #323c47;
  font-weight:500;
  text-align:center;
  display: flex;
  align-items:center;
  flex-direction:row;
  box-sizing:border-box;
}

.header{
  height:55vh;
  display:flex;
  box-sizing: border-box;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

h2{
  font-family: 'Catamaran', sans-serif;
  font-size:2rem;
  color: #323c47;
  line-height:2.5rem;
  font-weight:500;
  letter-spacing:-0.2px;
  text-align:center;
}

.title-container{
  width:55vw;
}

h3{
  color:#323c47;
  font-size: 1.62rem;
  font-family: 'Catamaran', sans-serif;
  font-weight:500;
  letter-spacing: -0.2px;
}


.text{
  color: #989898;
  font-size: 1rem;
  font-family: 'Catamaran', sans-serif;
  line-height:1.75;
}

h6{
  font-size:0.93rem;
  font-family: 'Roboto', sans-serif;
  color: #989898;
  line-height: 1.73;
}

h4{
  font-family: 'Catamaran', sans-serif;
  font-size:1.56rem;
  font-weight: 500;
  line-height: 1.44;
  color: #323c47;
  letter-spacing: -0.2px;
}
