.blog > .header >.subject {
  border-radius: 5px;
  background-color: #4da1ff;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  width: 69px;
  height: 25px;
  display:flex;
  box-sizing:border-box;
  justify-content:center;
  align-items:center;
}

.blog > .header > .blog-information {
  display:flex;
  box-sizing:border-box;
}

.blog > .header >.blog-information > .time-container{
  display:flex;
  box-sizing:border-box;
  padding-left:1rem;
}


.blog > .header >.blog-information > .time-container > .icon{
  padding-right:0.2rem;
}

.blog > .video-container{
  width:100%;
  height: 70vh;
}

.blog > .video-container > img{
  width:100%;
  height: 80vh;
}

.blog > .content {
  display:flex;
  border-sizing:border-box;
  flex-direction:column;
  align-items:center;
  padding-top:4rem;
  padding-bottom:6rem;
}

.blog > .content > .container{
  width:55vw;
  display:flex;
  box-sizing:border-box;
  margin-top:3rem;
}

.blog > .content > .image{
  width:55vw;
  padding-top:2rem;
  padding-bottom:2rem;
}

.blog > .content > .container > .left-column{
  padding-right:3rem;
  box-sizing:border-box;
  padding-left:2rem;
}

.blog > .content > .container > .left-column > h2{
  text-align:left;
}

.text-blog{
  text-align:left;
  font-family:'Catamaran', sans-serif;
  font-size:1.12rem;
  color: #323c47;
  line-height:1.89;
  padding-top:1rem;
}

.text-blog:first-child {
  padding-top:0rem;
}

.blog > .content > .container > .right-column{
  padding-top:1.5rem;
}

.blog > .content > .container > .right-column > .social{
  padding-top:1rem;
}

.blog >.content >.quote{
  width:55vw;
  background-color:#fafbfb;
  display:flex;
  box-sizing:border-box;
  flex-direction:column;
  align-items:center;
  padding-right:4rem;
  padding-left:4rem;
  padding-top:4rem;
  padding-bottom:4rem;
}

.blog > .content > .quote >.quote-text{
  font-family: 'Maven Pro', sans-serif;
  color: #323c47;
  letter-spacing: -0.2px;
  line-height: 1.65;
  font-weight: 500;
  text-align:center;
  font-size:1.43rem;
}

.blog > .content > .quote >.author-quote {
  font-family: 'Roboto', sans-serif;
  font-size:1rem;
  color: #989898;
  line-height: 1.75;
}

.blog > .content > .pagination-blog {
  display:flex;
  box-sizing:border-box;
  justify-content:space-between;
  flex-direction:row;
  padding-top:4rem;
}

.red-post{
  color: #fc6e50;
}

.blog > .content > .pagination-blog > .left-column {
  width:30vw;
}

.blog > .content > .time{
  display:flex;
  box-sizing:border-box;
  justify-content: space-between;
  flex-direction:row;
  width:55vw;
}

.blog > .content > .time > .time-container {
  display:flex;
  box-sizing:border-box;
  margin-top:-3rem;
}

.blog > .content > .time > .time-container > .icon {
  padding-right:0.2rem;
}

.blog > .content > .pagination-blog > .right-column {
  width:30vw;
  text-align:right;
}
